<div id="wrapper">
	<header class="row">
		<h4 class="col-xs-12"><a href="/">UI Kit</a></h4>
	</header>

	<section class="manage-control-panel">
		<nav class="side-navigation" id="mainNav">
			<h4 class="title">Main Nav</h4>

			<ul class="nav nav-stacked">
				<li class="side-navigation-dropdown-container">
					<a href="#">Elements</a>

					<a class="side-navigation-dropdown" href="#">
						<span class="caret"></span>
					</a>

					<div class="collapse">
						<ul class="nav nav-stacked">
							<li><a href="/typography">Typography</a></li>
							<li><a href="/buttons">Buttons</a></li>
							<li><a href="/form-elements">Form Elements</a></li>
							<li><a href="/form-examples">Form Examples</a></li>
							<li><a href="/nav">Nav</a></li>
							<li><a href="/navbar">Navbar</a></li>
							<li><a href="/panels">Panels</a></li>
							<li><a href="/tables">Tables</a></li>
						</ul>
					</div>
				</li>
				<li><h4>Portlets</h4></li>
				<li><a href="#">Asset Publisher</a></li>
				<li class="side-navigation-dropdown-container">
					<a href="#">Blog</a>

					<a class="side-navigation-dropdown" href="#">
						<span class="caret"></span>
					</a>

					<div class="collapse">
						<ul class="nav nav-stacked">
							<li><a href="/blog-1-column">1-Column</a></li>
							<li><a href="#">2-Columns</a></li>
							<li><a href="#">3-Columns</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">Document Library</a></li>
			</ul>
		</nav>

		<nav class="side-navigation" id="secondaryNav">
			<h4 class="title">Secondary Nav</h4>

			<ul class="nav nav-stacked">
				<li><a href="#">Basic Elements</a></li>
				<li><a href="#">More Elements</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Basic Elements</a></li>
				<li><a href="#">More Elements</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Basic Elements</a></li>
				<li><a href="#">More Elements</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Basic Elements</a></li>
				<li><a href="#">More Elements</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Basic Elements</a></li>
				<li><a href="#">More Elements</a></li>
				<li><a href="#">Tables</a></li>
			</ul>
		</nav>

		<div id="mainContent">
			<button class="btn btn-default" id="toggleCpSideNavigation">Toggle</button>