<div class="main-nav-open secondary-nav-open" id="wrapper">
	<header class="row" id="headerTopBar">
		<a href="#1" class="menu-toggle"><span class="glyphicon glyphicon-align-justify"></span></a>

		<h4 class="title"><a href="/">UI Kit</a></h4>
	</header>

	<section class="manage-control-panel">
		<nav class="side-navigation" id="mainNav">
			<h4 class="title">Main Nav</h4>

			<ul class="nav nav-stacked">
				<li class="side-navigation-dropdown-container">
					<a href="/elements">Elements</a>

					<a class="side-navigation-dropdown" href="#">
						<span class="caret"></span>
					</a>

					<div class="collapse in">
						<ul class="nav nav-stacked">
							<li><a href="/grid">Grid</a></li>

							<li><a href="/typography">Typography</a></li>

							<li><a href="/buttons">Buttons</a></li>

							<li><a href="/form-elements">Form Elements</a></li>

							<li><a href="/form-examples">Form Examples</a></li>

							<li><a href="/icons">Icons</a></li>

							<li><a href="/images-and-thumbnails">Images and Thumbnails</a></li>

							<li><a href="/tables">Tables</a></li>
						</ul>
					</div>
				</li>

				<li class="side-navigation-dropdown-container">
					<a href="/components">Components</a>

					<a class="side-navigation-dropdown" href="#">
						<span class="caret"></span>
					</a>

					<div class="collapse in">
						<ul class="nav nav-stacked">
							<li><a href="/alerts-and-progress-bars">Alerts and Progress Bars</a></li>

							<li><a href="/breadcrumb-and-paginations">Breadcrumb and Paginations</a></li>

							<li><a href="/modals">Modals</a></li>

							<li><a href="/list-groups">List Groups</a></li>

							<li><a href="/nav">Nav</a></li>

							<li><a href="/navbar">Navbar</a></li>

							<li><a href="/page-header-jumbotron-and-media-objects">Page Header, Jumbotron, and Media Objects</a></li>

							<li><a href="/panels">Panels</a></li>

							<li><a href="/timelines">Timelines</a></li>
						</ul>
					</div>
				</li>

				<li class="side-navigation-dropdown-container">
					<a href="/widgets">Widgets</a>

					<a class="side-navigation-dropdown" href="#">
						<span class="caret"></span>
					</a>

					<div class="collapse in">
						<ul class="nav nav-stacked">
							<li><a href="/accordions">Accordions</a></li>
						</ul>
					</div>
				</li>

				<li>
					<a href="/blog-1-column">Blog</a>
				</li>
			</ul>
		</nav>

		<nav class="side-navigation" id="secondaryNav">
			<a href="#1" class="menu-toggle"><span class="glyphicon glyphicon-arrow-left"></span></a>

			<ul class="nav nav-stacked">
				<li><a href="#">Basic Elements</a></li>

				<li><a href="#">More Elements</a></li>

				<li><a href="#">Tables</a></li>

				<li><a href="#">Basic Elements</a></li>

				<li><a href="#">More Elements</a></li>

				<li><a href="#">Tables</a></li>

				<li><a href="#">Basic Elements</a></li>

				<li><a href="#">More Elements</a></li>

				<li><a href="#">Tables</a></li>

				<li><a href="#">Basic Elements</a></li>

				<li><a href="#">More Elements</a></li>

				<li><a href="#">Tables</a></li>

				<li><a href="#">Basic Elements</a></li>

				<li><a href="#">More Elements</a></li>

				<li><a href="#">Tables</a></li>
			</ul>
		</nav>

		<div id="mainContent">
