<% include includes/header %>
	<% include includes/nav-start %>
		<ul>
			<li><a href="/alerts-and-progress-bars">Alerts and Progress Bars</a></li>

			<li><a href="/breadcrumb-and-paginations">Breadcrumb and Paginations</a></li>

			<li><a href="/modals">Modals</a></li>

			<li><a href="/nav">Nav</a></li>

			<li><a href="/navbar">Navbar</a></li>

			<li><a href="/page-header-jumbotron-and-media-objects">Page Header, Jumbotron, and Media Objects</a></li>

			<li><a href="/panels">Panels</a></li>
		</ul>
	<% include includes/nav-end %>
<% include includes/footer %>