<% include includes/header %>
	<% include includes/nav-start %>
		<h1 class="col-md-12 page-title">NAVBARS
			<small>sub heading</small>
		</h1>

		<div class="row">
			<div class="col-md-12">
				<div class="box panel panel-default">
					<h4 class="panel-heading">Basic Navbars</h4>

					<p>Replace navbar-default with navbar-danger, navbar-info, navbar-primary, navbar-success, or navbar-warning to change its color. You can also use navbar-inverse for a sleek dark look.</p>

					<nav class="navbar navbar-danger">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-info">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-primary">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-success">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-warning">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="nav navbar-nav">
									<li class="active"><a href="#1">Link #1</a></li>
									<li><a href="#1">Link #2</a></li>
									<li><a href="#1">Link #3</a></li>
									<li><a href="#1">Link #4</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="box panel panel-default">
					<h4 class="panel-heading">Navbar Examples</h4>

					<nav class="navbar navbar-default square-borders">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse">
								<ul class="hover-dropdown nav navbar-nav">
									<li><a href="#1">Departments <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#1">Watermelon</a></li>
											<li><a href="#1">Dragon Fruit</a></li>
											<li><a href="#1">Lychee</a></li>
											<li><a href="#1">Pomegranate</a></li>
											<li><a href="#1">Longan</a></li>
											<li><a href="#1">Fig</a></li>
										</ul>
									</li>

									<li><a href="#1">Products <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#1">Mango</a></li>
											<li><a href="#1">Jackfruit</a></li>
											<li><a href="#1">Persimmon</a></li>
											<li><a href="#1">Pear</a></li>
											<li><a href="#1">Durian</a></li>
											<li><a href="#1">Cantaloupe</a></li>
										</ul>
									</li>

									<li><a href="#1">Support <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="#1">Papaya</a></li>
											<li><a href="#1">Rambutan</a></li>
											<li><a href="#1">Guava</a></li>
											<li><a href="#1">Gogi Berry</a></li>
											<li><a href="#1">Apricot</a></li>
											<li><a href="#1">Kiwi</a></li>
										</ul>
									</li>

									<form class="navbar-form navbar-left" role="search">
										<div class="input-group">
											<input type="text" class="form-control" placeholder="Search">

											<span class="input-group-btn">
												<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
											</span>
										</div>
									</form>
								</ul>
							</div>
						</div>
					</nav>

					<nav class="navbar navbar-default">
						<div class="container-fluid">
							<ul class="hover-dropdown nav navbar-nav">
								<li class="dropdown mega-menu-full">
									<a href="#1">Fruits</a>
									
									<ul class="dropdown-menu">
										<li class="col-sm-4">
											<ul class="link-list">
												<li class="link-list-heading">Tropical 1</li>
												<li><a href="#1">Watermelon</a></li>
												<li><a href="#1">Dragon Fruit</a></li>
												<li><a href="#1">Lychee</a></li>
												<li><a href="#1">Pomegranate</a></li>
												<li><a href="#1">Durian</a></li>
												<li><a href="#1">Fig</a></li>
											</ul>

											<ul class="link-list">
												<li class="link-list-heading">Tropical 2</li>
												<li><a href="#1">Mango</a></li>
												<li><a href="#1">Jackfruit</a></li>
												<li><a href="#1">Papaya</a></li>
												<li><a href="#1">Kiwi</a></li>
												<li><a href="#1">Pineapple</a></li>
												<li><a href="#1">Cantaloupe</a></li>
											</ul>
										</li>

										<li class="col-sm-4">
											<ul class="link-list">
												<li class="link-list-heading">Tropical 3</li>
												<li><a href="#1">Coconut</a></li>
												<li><a href="#1">Rambutan</a></li>
												<li><a href="#1">Guava</a></li>
												<li><a href="#1">Persimmon</a></li>
												<li><a href="#1">Jujube</a></li>
												<li><a href="#1">Passion fruit</a></li>
											</ul>

											<ul class="link-list">
												<li class="link-list-heading">Berries</li>
												<li><a href="#1">Strawberry</a></li>
												<li><a href="#1">Blueberry</a></li>
												<li><a href="#1">Raspberry</a></li>
												<li><a href="#1">Blackberry</a></li>
												<li><a href="#1">Mulberry</a></li>
												<li><a href="#1">Cranberry</a></li>
												<li><a href="#1">Gooseberry</a></li>
												<li><a href="#1">Gogi Berry</a></li>
												<li><a href="http://en.wikipedia.org/wiki/Adventures_of_Huckleberry_Finn">Huckleberry Finn</a></li>
											</ul>
										</li>

										<li class="col-sm-4">
											<ul class="link-list">
												<li class="link-list-heading">Other Fruits</li>
												<li><a href="#1">Kumquat</a></li>
												<li><a href="#1">Grapefruit</a></li>
												<li><a href="#1">Longan</a></li>
												<li><a href="#1">Peach</a></li>
											</ul>

											<ul class="link-list">
												<li class="link-list-heading">Other Fruits Cont.</li>
												<li><a href="#1">Plum</a></li>
												<li><a href="#1">Grapes</a></li>
												<li><a href="#1">Melon</a></li>
												<li><a href="#1">Apricot</a></li>
												<li><a href="#1">Blood Orange</a></li>
												<li><a href="#1">Açaí berry</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<li class="dropdown mega-menu-full">
									<a href="#1">Animals</a>
									
									<ul class="dropdown-menu">
										<li class="col-sm-4">
											<ul class="link-list">
												<li class="link-list-heading">Cats</li>
												<li><a href="#1">Cheetah</a></li>
												<li><a href="http://www.lionking.com/ticket/international">Lion King</a></li>
												<li><a href="#1">Leopard</a></li>
												<li><a href="#1">Panther</a></li>
											</ul>

											<ul class="link-list">
												<li class="link-list-heading">Great Apes</li>
												<li><a href="#1">Orangutan</a></li>
												<li><a href="#1">Chimpanzee</a></li>
												<li><a href="#1">Bonobo</a></li>
												<li><a href="#1">Silverback Gorilla</a></li>
											</ul>
										</li>

										<li class="col-sm-4">
											<ul class="link-list">
												<li class="link-list-heading">Birds</li>
												<li><a href="#1">Condor</a></li>
												<li><a href="#1">Robin</a></li>
												<li><a href="#1">Dove</a></li>
												<li><a href="#1">Jack Sparrow</a></li>
												<li><a href="#1">Black Swan</a></li>
												<li><a href="#1">Rooster</a></li>
											</ul>

											<ul class="link-list">
												<li class="link-list-heading">Cetaceans</li>
												<li><a href="#1">Killer Whale</a></li>
												<li><a href="#1">Dolphin</a></li>
												<li><a href="#1">Baleen Whale</a></li>
												<li><a href="http://en.wikipedia.org/wiki/Moby-Dick">Moby Dick</a></li>
												<li><a href="#1">Humpback Whale</a></li>
											</ul>
										</li>

										<li class="col-sm-4">
											<ul class="link-list">
												<li class="link-list-heading">Other Mammals</li>
												<li><a href="#1">Wolf</a></li>
												<li><a href="#1">Bunny</a></li>
												<li><a href="#1">Kangaroo</a></li>
												<li><a href="#1">Sloth</a></li>
												<li><a href="#1">Pig</a></li>
											</ul>

											<ul class="link-list">
												<li class="link-list-heading">Sea Food</li>
												<li><a href="#1">Octopus</a></li>
												<li><a href="#1">Crab</a></li>
												<li><a href="#1">Scallops</a></li>
												<li><a href="#1">Lobster</a></li>
												<li><a href="#1">Mussels</a></li>
											</ul>
										</li>
									</ul>
								</li>

								<form class="navbar-form navbar-left" role="search">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default btn-sm" type="button"><span class="glyphicon glyphicon-search"></span></button>
										</span>

										<input type="text" class="form-control input-sm" placeholder="Search">
									</div>
								</form>
							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<script>
		// 	YUI().use(
		// 		'aui-toggler',
		// 		function(Y) {
		// 			new Y.TogglerDelegate(
		// 				{
		// 					animated: true,
		// 					closeAllOnExpand: false,
		// 					container: '#myToggler',
		// 					content: '.content',
		// 					expanded: true,
		// 					header: '.header',
		// 					transition: {
		// 						duration: 0.2,
		// 						easing: 'cubic-bezier(0, 0.1, 0, 1)'
		// 					}
		// 				}
		// 			);
		// 		}
		// 	);
		</script>
	<% include includes/nav-end %>
<% include includes/footer %>