<% include includes/header %>
	<% include includes/nav-start %>
		<h1 class="col-md-12 text-uppercase">Panels
			<small>sub heading</small>
		</h1>

		<div class="col-md-6">
			<div class="box panel panel-default">
				<h4 class="panel-heading">Panels without heading</h4>

				<div class="panel panel-default">
					<div class="panel-body">
						Panel-default.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-body">
						Panel-primary.
					</div>
				</div>

				<div class="panel panel-success">
					<div class="panel-body">
						Panel-success.
					</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-body">
						Panel-info.
					</div>
				</div>

				<div class="panel panel-warning">
					<div class="panel-body">
						Panel-warning.
					</div>
				</div>

				<div class="panel panel-danger">
					<div class="panel-body">
						Panel-danger.
					</div>
				</div>
			</div>

			<div class="box panel panel-default">
				<h4 class="panel-heading">Panels with footer</h4>

				<div class="panel panel-default">
					<div class="panel-body">
						Panel-default.
					</div>

					<div class="panel-footer">Panel-default</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-body">
						Panel-primary.
					</div>

					<div class="panel-footer">Panel-primary</div>
				</div>

				<div class="panel panel-success">
					<div class="panel-body">
						Panel-success.
					</div>

					<div class="panel-footer">Panel-success</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-body">
						Panel-info.
					</div>

					<div class="panel-footer">Panel-info</div>
				</div>

				<div class="panel panel-warning">
					<div class="panel-body">
						Panel-warning.
					</div>

					<div class="panel-footer">Panel-warning</div>
				</div>

				<div class="panel panel-danger">
					<div class="panel-body">
						Panel-danger.
					</div>

					<div class="panel-footer">Panel-danger</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box panel panel-default">
				<h4 class="panel-heading">Panels with heading</h4>

				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Panel-default</h3>
					</div>

					<div class="panel-body">
						Panel-default.
					</div>
				</div>

				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Panel-primary</h3>
					</div>

					<div class="panel-body">
						Panel-primary.
					</div>
				</div>

				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Panel-success</h3>
					</div>

					<div class="panel-body">
						Panel-success.
					</div>
				</div>

				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Panel-info</h3>
					</div>

					<div class="panel-body">
						Panel-info.
					</div>
				</div>

				<div class="panel panel-warning">
					<div class="panel-heading">
						<h3 class="panel-title">Panel-warning</h3>
					</div>

					<div class="panel-body">
						Panel-warning.
					</div>
				</div>

				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Panel-danger</h3>
					</div>

					<div class="panel-body">
						Panel-danger.
					</div>
				</div>
			</div>

			<div id="auiToggler">
				<div class="box panel panel-default">
					<h4 class="panel-heading">Multiple Panels</h4>

					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Panel 1</h3>
						</div>

						<div class="panel-body">
							Cup crema dark skinny, aftertaste, a, rich ut cup steamed, kopi-luwak crema macchiato viennese aftertaste crema, macchiato cortado rich medium dark americano café au lait.
							<table class="table">
								<thead>
									<tr>
										<th>First Name</th>
										<th>Last Name</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Test</td>
										<td>Test</td>
										<td>testtest@liferay.com</td>
									</tr>
									<tr>
										<td>Joe</td>
										<td>Bloggs</td>
										<td>joebloggs@liferay.com</td>
									</tr>
									<tr>
										<td>Space</td>
										<td>Program</td>
										<td>spaceprogram@liferay.com</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="panel-heading">
							<h3 class="panel-title">Panel 2</h3>
						</div>

						<div class="panel-body">
							Cup crema dark skinny, aftertaste, a, rich ut cup steamed, kopi-luwak crema macchiato viennese aftertaste crema, macchiato cortado rich medium dark americano café au lait.
						</div>

						<div class="panel-heading">
							<h3 class="panel-title">Panel 3</h3>
						</div>

						<div class="panel-body">
							Cup crema dark skinny, aftertaste, a, rich ut cup steamed, kopi-luwak crema macchiato viennese aftertaste crema, macchiato cortado rich medium dark americano café au lait.
						</div>

						<div class="panel-heading">
							<h3 class="panel-title">Panel 4</h3>
						</div>

						<div class="panel-body">
							Cup crema dark skinny, aftertaste, a, rich ut cup steamed, kopi-luwak crema macchiato viennese aftertaste crema, macchiato cortado rich medium dark americano café au lait.
						</div>
					</div>
				</div>
			</div>
		</div>
	<% include includes/nav-end %>
<% include includes/footer %>