<% include includes/header %>
	<% include includes/nav-start %>
		<h1 class="col-md-12 text-uppercase">typography
			<small>sub heading</small>
		</h1>

		<div class="col-md-6">
			<div class="box panel panel-default">
				<h4 class="panel-heading">Headings with Secondary Text</h4>
				<h1>h1. Bootstrap heading <small>Secondary text</small></h1>
				<h2>h2. Bootstrap heading <small>Secondary text</small></h2>
				<h3>h3. Bootstrap heading <small>Secondary text</small></h3>
				<h4>h4. Bootstrap heading <small>Secondary text</small></h4>
				<h5>h5. Bootstrap heading <small>Secondary text</small></h5>
				<h6>h6. Bootstrap heading <small>Secondary text</small></h6>
			</div>

			<div class="box panel panel-default">
				<h4 class="panel-heading">Inline Text Elements</h4>
				<p class="lead"> Lead Body Text: Aenean ultricies mi vitae est. </p>
				<p>Regular Text: Aenean ultricies mi vitae est.</p>
				<p>Marked Text: <mark>Aenean ultricies mi vitae est.</mark></p>
				<p>Deleted Text: <del>Aenean ultricies mi vitae est.</del></p>
				<p>Strikethrough Text: <s>Aenean ultricies mi vitae est.</s></p>
				<p>Inserted Text: <ins>Aenean ultricies mi vitae est.</ins></p>
				<p>Underlined Text: <u>Aenean ultricies mi vitae est.</u></p>
				<br>
				<p>Small Text: <small>Aenean ultricies mi vitae est.</small>
				<p>Bold Text: <strong>Aenean ultricies mi vitae est.</strong></p>
				<p>Italics: <em>Aenean ultricies mi vitae est.</em></p>
				<br>
				<p>Abbreviation: <abbr title="attribute">attr</abbr></p>
				<p>Lowercased Text: <span class="text-lowercase">LoWeRCaSeD TeXT</span></p>
				<p>Uppercased Text: <span class="text-uppercase">uPPeRCaSeD TeXT</span></p>
				<p>Capitalized Text: <span class="text-capitalize">capitalized text</span></p>
			</div>

			<div class="box panel panel-default">
				<h4 class="panel-heading">Label</h4>
				<p>
					<span class="label label-default">Default</span>
					<span class="label label-primary">Primary</span>
					<span class="label label-success">Success</span>
					<span class="label label-info">Info</span>
					<span class="label label-danger">Danger</span>
					<span class="label label-warning">Warning</span>
				</p>
			</div>
		</div>

		<div class="col-md-6">
			<div class="box panel panel-default">
				<h4 class="panel-heading">Blockquote</h4>
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
				<blockquote class="blockquote-reverse">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					<small>Someone famous in <cite title="Source Title">Source Title</cite></small>
				</blockquote>
			</div>

			<div class="box panel panel-default">
				<h4 class="panel-heading">Inline Code</h4>
					<p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
				<h4>User Input</h4>
					<p>For example, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd> to edit settings.</p>
				<h4>Variables</h4>
					<p>For example, <var>y</var> = <var>m</var><var>x</var> + <var>b</var></p>
				<h4>Sample Output</h4>
				<samp> This text is meant to be treated as sample output from a computer program.</samp>
				<h4>Basic Code Block</h4>
				<pre>#container { float: left; margin: 0 -240px 0 0; width: 100%; }</pre>
			</div>

			<div class="box panel panel-default">
				<h4 class="panel-heading">Address</h4>
				<address>
					<strong>Liferay, Inc.</strong><br>
					1400 Montefino Ave.<br>
					Diamond Bar, CA 91765<br>
					<abbr title="Phone">P:</abbr> +1-877-LIFERAY (1-877-543-3729)
				</address>

				<address>
					<strong>Full Name</strong><br>
						<a href="mailto:#">first.last@example.com</a>
				</address>
			</div>
		</div>
	<% include includes/nav-end %>
<% include includes/footer %>