/* -------- Removes Rounded Borders -------- */

.square-borders,
.square-borders code,
.square-borders pre,
.square-borders .alert,
.square-borders .btn,
.square-borders .btn-lg,
.square-borders .btn-sm,
.square-borders .btn-xs,
.square-borders .container .jumbotron,
.square-borders .dropdown-menu,
.square-borders .form-control,
.square-borders .input-group-addon,
.square-borders .input-lg,
.square-borders .input-sm,
.square-borders .nav-pills > li > a,
.square-borders .nav-tabs > li > a,
.square-borders .navbar-toggle,
.square-borders .panel,
.square-borders .progress,
.square-borders .thumbnail,
.square-borders .well-lg,
.square-borders .well-sm {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.square-borders .btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
}

.square-borders .list-group-item:first-child,
.square-borders .panel .panel-heading:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.square-borders .list-group-item:last-child,
.square-borders .panel .panel-footer {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* -------- Navs -------- */

.nav-justified .dropdown-menu,
.nav-stacked .dropdown-menu {
	width: 100%;
}

/* -------- Navbars -------- */

.navbar-danger .nav > li > a:hover {
	color: #333;
	background-color: transparent;
}

.navbar-danger .navbar-nav > li > a {
	color: #777;
}

.navbar-danger .navbar-nav > .active > a,
.navbar-danger .navbar-nav > .active > a:hover {
	color: #333;
	background-color: #FDB4B4;
}

.navbar-danger .navbar-toggle {
	border-color: #EBCCD1;
}

.navbar-danger .navbar-toggle:hover {
	background-color: #EBCCD1;
}

.navbar-danger .navbar-toggle .icon-bar {
	background-color: #A94442;
}

.navbar-info .nav > li > a:hover {
	color: #333;
	background-color: transparent;
}

.navbar-info .navbar-nav > li > a {
	color: #777;
}

.navbar-info .navbar-nav > .active > a,
.navbar-info .navbar-nav > .active > a:hover {
	background-color: #C3E4F5;
	color: #333;
}

.navbar-info .navbar-toggle {
	border-color: #BCE8F1;
}

.navbar-info .navbar-toggle:hover {
	background-color: #BCE8F1;
	border-color: #BCE8F1;
}

.navbar-info .navbar-toggle .icon-bar {
	background-color: #31708F;
}

.navbar-primary .nav > li > a:hover {
	color: #FFF;
	background-color: transparent;
}

.navbar-primary .navbar-nav > li > a {
	color: #EEE;
}

.navbar-primary .navbar-nav > .active > a,
.navbar-primary .navbar-nav > .active > a:hover {
	background-color: #6CB0EB;
	color: #FFF;
}

.navbar-primary .navbar-toggle {
	border-color: #5F9BCF;
}

.navbar-primary .navbar-toggle:hover {
	background-color: #5F9BCF;
	border-color: #5F9BCF;
}

.navbar-primary .navbar-toggle .icon-bar {
	background-color: #BCE8F1;
}

.navbar-success .nav > li > a:hover {
	color: #333;
	background-color: transparent;
}

.navbar-success .navbar-nav > li > a {
	color: #777;
}

.navbar-success .navbar-nav > .active > a,
.navbar-success .navbar-nav > .active > a:hover {
	background-color: #BDEEA9;
	color: #333;
}

.navbar-success .navbar-toggle {
	border-color: #D6E9C6;
}

.navbar-success .navbar-toggle:hover {
	background-color: #D6E9C6;
	border-color: #D6E9C6;
}

.navbar-success .navbar-toggle .icon-bar {
	background-color: #3C763D;
}

.navbar-warning .nav > li > a:hover {
	color: #333;
	background-color: transparent;
}

.navbar-warning .navbar-nav > li > a {
	color: #777;
}

.navbar-warning .navbar-nav > .active > a,
.navbar-warning .navbar-nav > .active > a:hover {
	background-color: #FFF4B9;
	color: #333;
}

.navbar-warning .navbar-toggle {
	border-color: #FAEBCC;
}

.navbar-warning .navbar-toggle:hover {
	background-color: #FAEBCC;
	border-color: #FAEBCC;
}

.navbar-warning .navbar-toggle .icon-bar {
	background-color: #8A6D3B;
}

/* -------- Box Panels (Used for displaying content like portlets) -------- */

.box.panel {
	padding: 0 15px 15px;
}

.box.panel > .list-group {
	margin-bottom: 20px;
}

.box.panel .panel-heading + .list-group .list-group-item:first-child {
	border-top-width: 1px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.box.panel > .list-group .list-group-item {
	border-width: 1px;
}

.box.panel > .list-group .list-group-item:last-child {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.box.panel > .table-bordered {
	margin-bottom: 15px;
}

.box.panel > .panel-heading {
	margin: 0 -15px 15px;
}

.box.panel > .table-bordered {
	border: 1px solid #DDD;
}

/* -------- Featured Panels -------- */

.featured-panel.panel {
	background-color: transparent;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	overflow: auto;
}

.featured-panel.panel img {
	margin-left: auto;
	margin-right: auto;
}

.featured-panel.panel .panel-body {
	padding: 0;
}

.featured-panel.panel .panel-body .left, .featured-panel.panel .panel-body .right {
	background-color: #FFF;
	display: block;
	padding: 15px;
	width: 100%;
}

.featured-panel.panel.featured-panel-4060 .panel-body .left {
	width: 100%;
}

.featured-panel.panel.featured-panel-4060 .panel-body .right {
	width: 100%;
}

.featured-panel.panel.featured-panel-6040 .panel-body .left {
	width: 100%;
}

.featured-panel.panel.featured-panel-6040 .panel-body .right {
	width: 100%;
}

@media (min-width: 480px) {
	.featured-panel.panel .panel-body .left, .featured-panel.panel .panel-body .right {
		display: table-cell;
		padding: 15px;
		width: 50%;
		vertical-align: middle;
	}

	.featured-panel.panel.featured-panel-4060 .panel-body .left {
		width: 40%;
	}

	.featured-panel.panel.featured-panel-4060 .panel-body .right {
		width: 60%;
	}

	.featured-panel.panel.featured-panel-6040 .panel-body .left {
		width: 60%;
	}

	.featured-panel.panel.featured-panel-6040 .panel-body .right {
		width: 40%;
	}
}

/* -------- Panel Heading Align -------- */

.panel.panel-heading-align {
	background-color: transparent;
	overflow: hidden;
}

.panel.panel-heading-align .panel-body {
	background-color: #FFF;
}

.panel.panel-heading-align .panel-footer, .panel.panel-heading-align .panel-heading {
	display: table;
	width: 100%;
}

.panel.panel-heading-align .panel-footer > div, .panel.panel-heading-align .panel-heading > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	width: 1%;
}

.panel.panel-heading-align .panel-heading > div:last-child {
	text-align: right;
}

.panel.panel-heading-align .panel-heading > div:first-child {
	text-align: left;
}

/* -------- Panels -------- */

.panel.no-borders {
	border-width: 0;
}

.panel .panel-heading:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.navbar-danger,
.panel-danger > .panel-footer {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}

.navbar-info,
.panel-info > .panel-footer {
	color: #31708F;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}

.navbar-primary,
.panel-primary > .panel-footer {
	color: #FFF;
	background-color: #428BCA;
	border-color: #428BCA;
}

.navbar-success,
.panel-success > .panel-footer {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.navbar-warning,
.panel-warning > .panel-footer {
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}

/* -------- Thumbnails ------- */

.thumbnail.no-borders {
	border-width: 0;
	padding: 0;
	overflow: hidden;
}

/* -------- Accordions -------- */

.header:hover {
	cursor: pointer;
}

.panel .toggler-content-wrapper .list-group {
	margin-bottom: 0;
}

.panel .toggler-content-wrapper .list-group .list-group-item {
	border-left-width: 0;
	border-right-width: 0;
}

.panel .toggler-content-wrapper .list-group .list-group-item:first-child {
	border-top-width: 0;
}

.panel .toggler-content-wrapper .list-group.list-group-no-borders .list-group-item {
	border-top-width: 0;
}

.separated-panels .panel {
	margin-bottom: 5px;
}

.separated-panels {
	margin-bottom: 20px;
}

/* -------- Timelines -------- */

.time-line {
	background-color: #999;
	bottom: 0;
	color: #000;
	content: " ";
	left: 58px;
	list-style: none;
	position: absolute;
	top: 0;
	width: 1px;
}

.timeline {
	position: relative;
}

.timeline-avatar > img {
	position: absolute;
	top: 62px;
	width: 36px;
}

.timeline-item {
	list-style: none;
	position: relative;
}

.timeline-panel,
.timeline-center-panel {
	left: 60px;
	position: relative;
	width: 70%;
	word-wrap: break-word;
}

.timeline-panel > .panel-body:before,
.timeline-center-panel > .panel-body:before {
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FFF;
	border-top: 10px solid transparent;
	content: " ";
	height: 0;
	left: -10px;
	position: absolute;
	right: auto;
	top: 68px;
	width: 0;
}

.timestamp-icon {
	color: #999;
	font-size: 12px !important;
	line-height: inherit;
}

@media (min-width: 480px) {
	.timeline-panel {
		left: 80px;
		width: 80%;
	}
}

	/* ---- Center Timeline ---- */

	.timeline-avatar > i {
		background-color: #EEE;
		color: #E4B9B9;
		text-align: center;
		top: 88px;
		width: 36px;
	}

	@media (min-width: 1024px) {
		.item-center {
			display: inline-block;
			position: relative;
			width: 50%;
		}

		.line-center {
			left: -moz-calc(50% + 20px);
			left: -webkit-calc(50% + 20px);
			left: calc(50% + 20px);
		}

		.timeline-avatar > i {
			position: absolute;
			right: -18px;
			top: 62px;
		}

		.timeline-center-panel {
			margin-left: 30px;
			margin-right: 30px;
			left: inherit;
			width: auto;
		}

		.timeline-center-panel > .panel-body:before {
			border-left: 10px solid #FFF;
			border-right: 0;
			left: auto;
			right: -10px;
			top: 62px;
		}

		.timeline-panel {
			word-wrap: break-word;
		}
	}