/* -------- Removes Rounded Borders -------- */

.square-borders,
.square-borders code,
.square-borders pre,
.square-borders .alert,
.square-borders .btn,
.square-borders .btn-lg,
.square-borders .btn-sm,
.square-borders .btn-xs,
.square-borders .container .jumbotron,
.square-borders .dropdown-menu,
.square-borders .form-control,
.square-borders .input-group-addon,
.square-borders .input-lg,
.square-borders .input-sm,
.square-borders .nav-pills > li > a,
.square-borders .nav-tabs > li > a,
.square-borders .panel,
.square-borders .progress,
.square-borders .thumbnail,
.square-borders .well-lg,
.square-borders .well-sm {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.square-borders .btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-right-radius: 0;
}

.square-borders .list-group-item:first-child,
.square-borders .panel .panel-heading:first-child {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.list-group-item:last-child,
.square-borders .panel .panel-footer {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

/* -------- Panels -------- */

.box.panel {
	padding: 0 15px 15px;
}

.box.panel > .table-bordered {
	margin-bottom: 15px;
}

.box.panel > .panel-heading {
	margin: 0 -15px 15px;
}

.box.panel > .table-bordered {
	border: 1px solid #DDD;
}

.panel .panel-heading:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-danger > .panel-footer {
	color: #A94442;
	background-color: #F2DEDE;
	border-color: #EBCCD1;
}

.panel-info > .panel-footer {
	color: #31708F;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}

.panel-primary > .panel-footer {
	color: #FFF;
	background-color: #428BCA;
	border-color: #428BCA;
}

.panel-success > .panel-footer {
	color: #3C763D;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

.panel-warning > .panel-footer {
	color: #8A6D3B;
	background-color: #FCF8E3;
	border-color: #FAEBCC;
}