header {
	background-color: #717171;
}

header.row {
	margin: 0;
}

#mainContent {
	padding: 15px;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 100%;
}

#mainNav {
	background: #3E3E3E;
}

#secondaryNav {
	background-color: #717171;
}

#wrapper {
	overflow-x: hidden;
}

.main-nav-open #mainContent, .main-nav-open.secondary-nav-open #mainContent, .secondary-nav-open #mainContent {
	margin-left: 200px;
}

.main-nav-open #mainNav {
	left: 0;
	z-index: 1;
}

.main-nav-open.secondary-nav-open #secondaryNav {
	left: -200px;
}

.nav-stacked li > h4 {
	color: #F3F3F3;
	padding: 10px 15px;
}

.nav-stacked li div > .nav-stacked li > a {
	padding-left: 35px;
}

.secondary-nav-open #secondaryNav {
	left: 0;
}

.side-navigation {
	left: -200px;
	overflow: auto;
	position: absolute;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	width: 200px;
}

.side-navigation .title {
	color: #FFF;
	margin: 0 15px;
}

.side-navigation-dropdown-container:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
}

.side-navigation-dropdown-container > a {
	float: right;
	text-align: center;
	width: 25%;
}

.side-navigation-dropdown-container > a:first-child {
	float: left;
	text-align: left;
	width: 75%;
}

@media (min-width: 768px) {
	#mainContent {
		width: auto;
	}

	.main-nav-open.secondary-nav-open #mainContent {
		margin-left: 400px;
	}

	.main-nav-open.secondary-nav-open #secondaryNav {
		left: 200px;
	}

	.main-nav-open.secondary-nav-open #mainNav {
		left: 0;
	}

	.secondary-nav-open #mainContent {
		margin-left: 200px;
	}

	.secondary-nav-open #secondaryNav {
		left: 0;
	}

	#wrapper {
		overflow-x: visible;
	}
}